<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recycle Scanner</title>
    <link rel="stylesheet" href="../static/styles/waste2.css">
    <link rel="stylesheet" href="../static/styles/waste3.css">
</head>
<body>

    <div class="container">
        <h1>♻️ Recycle Scanner</h1>

        <!-- Camera Section -->
        <div class="box camera-box">
            <video id="camera" autoplay></video>
        </div>

        <!-- Button Section -->
        <button id="capture">📸 Capture Image</button>
        <canvas id="canvas"></canvas>

        <!-- Scan Result -->
        <p id="result">Scan Result: <span>Not Scanned</span></p>
    </div>

    <script src="../static/scripts/waste2.js"></script>

    <script>
      
    </script>

    <footer>
        <p>&copy; 2025 Recycle Scanner. All Rights Reserved. <a href="#">Privacy Policy</a></p>
    </footer>
</body>
</html>
